<% provide(:title, 'Sign up') %>

<div class="container">
  	<div class="center form">
  		<h2 class="form-heading"> Please sign up </h2>

    	<%= form_for(@user) do |f| %>
    	  
    	  	<%= render 'shared/error_messages', object: f.object %>
    	  	<%= f.text_field :name, :placeholder => "name" %>
			<%= f.text_field :email, :placeholder => "e-mail" %>
			<%= f.password_field :password, :placeholder => "password" %>
			<%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
      	<%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    	<% end %>
	</div>
</div>


